.nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #003366; 
  border-bottom: 2px solid #FFA500; 
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo-title {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-title {
  color: #FFFFFF;
  font-size: 24px;
  margin: 0;
}

.nav-title.dark {
  color: #FFA500;
  font-size: 24px;
  margin: 0;
}

.dark-mode-label{
  margin-left: 5px;
  margin-top: 8px;
  color: #00dee6;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.nav-search {
  display: flex;
  align-items: center;
}

.nav-search-input {
  padding: 5px 10px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.nav-search-input.dark {
  padding: 5px 10px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #FFA500;
  background-color: #121212;
}

.nav-search-button {
  padding: 6px 12px;
  border-radius: 0 4px 4px 0;
  background-color: #FFA500;
  border: none;
  cursor: pointer;
  color: #003366;
  font-size: 16px;
}

.nav-search-button:hover {
  background-color: #FF8C00;
}

@media (max-width: 600px) {
  .nav-content {
    flex-direction: column;
  }

  .nav-logo-title {
    margin-bottom: 10px;
  }

  .nav-search-input, .nav-search-button {
    font-size: 14px;
  }

  .nav-search-input {
    width: 100%;
    
    border-radius: 4px;
  }

  .nav-search-button {
    width: 100%;
    border-radius: 4px;
  }
}